@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

html,
body {
	font-family: "Be Vietnam Pro";
}

.track {
	animation: marquee 30s infinite linear;
}

.track:hover {
	animation-play-state: paused;
}

@keyframes marquee {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-70%);
	}
}
